
.cocktail_container {
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px black
}

.cocktails_name {
  position: absolute;
  bottom: 8px;
  margin: auto;
  padding: 10px;
  color: #fff;
}

.main {
  height: 1000px;
}
