.newimage {
  // position: relative;
  height: 589px;
  width:100%;
  top:0px;
  left:0px;
  background-position: left center;
  background-size: cover;
  // object-fit: cover;
  // background-repeat: no-repeat;
}

